<div class="container">
  <h1 class="mat-display-3">HN Feed</h1>
  <span class="mat-title">We <3 Hacker News!</span>
</div>

<table mat-table [dataSource]="dataSource">
  <!-- Progress Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let row"> <span class="title">{{row.title}}</span> - <span class="author">{{row.author}}</span> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let row"> {{format(row.date)}} </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="controls">
    <th mat-header-cell *matHeaderCellDef> Controls </th>
    <td mat-cell *matCellDef="let row">
      <button (click)="openDialog()" mat-icon-button aria-label="Remove this feed">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
