.container {
  padding: 2rem;
  background-color: #3f51b5;
  color: #efefef;
}
.container h1 {
  margin-bottom: 2rem;
}
table {
  width: 100%;
  margin-top: 1rem;
  @media (min-width: 768px) {
    margin-top: 4rem;
  }
}
.mat-header-row {
  display: none;
}
.mat-row {
  background-color: #fff;
  border: 1pt #ccc;
}

.mat-row .title {
  color: #333;
  font-size: 13pt;
}

.mat-row .mat-column-controls {
  color: transparent;
}

.mat-row:hover .mat-column-controls {
  color: #333;
}
.mat-row .author {
  color: #999;
  font-size: 13pt;
}

.mat-row:hover {
  background-color: #fafafa;
}
